# Python Hatırlatma Dersi

## Rakamlar

In [1]:
1 + 1

2

In [2]:
1 / 3

0.3333333333333333

In [3]:
2 ** 4

16

In [4]:
4 ** (1/2)

2.0

In [5]:
5 % 2

1

In [6]:
degisken_isim = 4

In [7]:
print(degisken_isim)

4

In [8]:
degisken_isim + 5

9

## String (karakter dizinleri)

In [9]:
x = "Merhaba"

In [10]:
x

'Merhaba'

In [14]:
yas = 24; isim = "Mehmet"

In [15]:
print(f"{isim} kaç yaşında?")

Mehmet kaç yaşında?

In [16]:
print(f"{isim}, {yas} yaşında.")

Mehmet, 24 yaşında.

## Listeler

In [18]:
[1, 2, 3]

[1, 2, 3]

In [19]:
["selam", 12, True, 1.6]

['selam', 12, True, 1.6]

In [20]:
liste = ["selam", 12, True, 1.6]

In [21]:
liste.append("Selma")

In [22]:
print(liste)

['selam', 12, True, 1.6, 'Selma']

In [23]:
liste[0]

'selam'

In [24]:
liste[2:3]

[True]

## Dictionary (Sözlük)

In [25]:
sozluk = {'isim':'Yaşar', 'yas':50}

In [26]:
sozluk

{'isim': 'Yaşar', 'yas': 50}

In [27]:
sozluk['yas']

50

## Tuple (deste)

In [28]:
deste = (1,2,'isim')

In [30]:
deste[0]=3

TypeError: 'tuple' object does not support item assignment

## Set (küme)

In [31]:
kume = {1, 2, 3, 5, 5}

In [32]:
print(kume)

{1, 2, 3, 5}

## Kıyaslama Operatörleri

In [33]:
1 > 2

False

In [34]:
2 == 2

True

In [35]:
a = 2 == 3

In [36]:
print(a)

False

## Mantık Operatörleri

In [37]:
(1>2) or (4 == 3)

False

In [38]:
(1>2) or (4 == "4")

False

## if, elif, else  (durum kontrolleri)

In [39]:
if 1 < 2:
    print("yanlış")
else:
    print("hiç bir zaman")

yanlış

## for loop (for döngüsü)

In [40]:
seri = [1, 2, 3, 4]
for rakam in seri:
    print(rakam)

1
2
3
4

In [41]:
isimler = ["Ahmet","Mehmet","Ayşe","Zehra"]
yaslar = [34, 31, 29, 20]
for isim,yas in zip(isimler,yaslar):
    print(f"{isim}=>{yas}")

Ahmet=>34
Mehmet=>31
Ayşe=>29
Zehra=>20

## while loop (while döngüsü)

In [43]:
i = 1
while True:
    print(f"{i}")
    i = i + 1
    if(i>5):break

1
2
3
4
5

In [44]:
i = 1
while i < 6:
    print(f"{i}")
    i = i + 1

1
2
3
4
5

## range

In [45]:
range(5)

range(0, 5)

In [46]:
type([1,2,3])

list

In [47]:
type(range(1,4))

range

In [48]:
for rakam in range(5):
    print(rakam)

0
1
2
3
4

In [49]:
for rakam in range(2,5):
    print(rakam)

2
3
4

In [50]:
for rakam in range(2,9,3):
    print(rakam)

2
5
8

## List comprehension

In [51]:
x = [1, 2, 3, 4]
out = []
for rakam in x:
    out.append(rakam**2)
print(out)

[1, 4, 9, 16]

In [53]:
out = [rakam**2 for rakam in x]
print(out)

[1, 4, 9, 16]

## Fonksiyonlar

In [56]:
def fonksiyon(a = 1):
    return(a**3)

In [55]:
fonksiyon(3)

27

In [57]:
fonksiyon()

1

## lambda

In [60]:
fonk = lambda x: x**3

In [62]:
fonk(3)

27

## map ve filter

In [63]:
seri = [1, 2, 3, 4, 5, 8]

In [64]:
list(map(fonksiyon, seri))

[1, 8, 27, 64, 125, 512]

In [65]:
list(map(lambda x: x**3, seri))

[1, 8, 27, 64, 125, 512]

In [ ]:
list(filter(lambda x: x%2 == 1, seri))

## Method'lar

In [70]:
metin = "Bugün günlerden Perşembe"

In [71]:
metin.lower()

'bugün günlerden perşembe'

In [72]:
metin

'Bugün günlerden Perşembe'

In [73]:
metin.upper()

'BUGÜN GÜNLERDEN PERŞEMBE'

In [75]:
metin.split()

['Bugün', 'günlerden', 'Perşembe']

In [76]:
metin.split("P")

['Bugün günlerden ', 'erşembe']

In [77]:
sozluk

{'isim': 'Yaşar', 'yas': 50}

In [78]:
sozluk.keys()

dict_keys(['isim', 'yas'])

In [79]:
liste

['selam', 12, True, 1.6, 'Selma']

In [80]:
liste.pop()

'Selma'

In [81]:
liste

['selam', 12, True, 1.6]

In [82]:
liste

['selam', 12, True, 1.6]

In [83]:
12 in liste

True

In [84]:
13 in liste

False

# Pandas

In [101]:
import numpy as np
import pandas as pd

In [86]:
etiketler = ['a','b','c']

In [87]:
liste = [10, 20, 30]

In [88]:
pd.Series(data=liste)

0    10
1    20
2    30
dtype: int64

In [90]:
pd.Series(data=liste, index =etiketler)

a    10
b    20
c    30
dtype: int64

In [91]:
seri = pd.Series([67, 45, 75], index=['ABD','Japonya','Çin'])

In [92]:
print(seri)

ABD        67
Japonya    45
Çin        75
dtype: int64

In [93]:
seri['ABD']

67

In [94]:
seri['Çin']

75

## Dataframes

In [100]:
from numpy.random import randn

In [103]:
df = pd.DataFrame(randn(5,4), index=['A','B','C','D','E'], columns=['W','X','Y','Z'])

In [104]:
print(df)

          W         X         Y         Z
A  0.955176  0.405775 -2.141486 -0.818987
B -0.018597  0.978104 -1.397059  0.519750
C -0.381397 -1.232897  0.075042  0.681514
D  0.278426  0.791482  0.220963 -0.752739
E -0.891373  0.277331 -0.401241 -1.377744

In [107]:
df.head()

          W         X         Y         Z
A  0.955176  0.405775 -2.141486 -0.818987
B -0.018597  0.978104 -1.397059  0.519750
C -0.381397 -1.232897  0.075042  0.681514
D  0.278426  0.791482  0.220963 -0.752739
E -0.891373  0.277331 -0.401241 -1.377744

In [108]:
df['X']

A    0.405775
B    0.978104
C   -1.232897
D    0.791482
E    0.277331
Name: X, dtype: float64

In [110]:
df[['X','Z']]

          X         Z
A  0.405775 -0.818987
B  0.978104  0.519750
C -1.232897  0.681514
D  0.791482 -0.752739
E  0.277331 -1.377744

In [111]:
df.X

A    0.405775
B    0.978104
C   -1.232897
D    0.791482
E    0.277331
Name: X, dtype: float64

In [112]:
type(df.X)

pandas.core.series.Series

In [113]:
type(df)

pandas.core.frame.DataFrame

In [114]:
df['yeni']=df['X']+2*df['Z']

In [115]:
df.head()

          W         X         Y         Z      yeni
A  0.955176  0.405775 -2.141486 -0.818987 -1.232198
B -0.018597  0.978104 -1.397059  0.519750  2.017604
C -0.381397 -1.232897  0.075042  0.681514  0.130131
D  0.278426  0.791482  0.220963 -0.752739 -0.713996
E -0.891373  0.277331 -0.401241 -1.377744 -2.478156

In [116]:
df['kontrol']=df['W'] > df['Y']

In [117]:
df.head()

          W         X         Y         Z      yeni  kontrol
A  0.955176  0.405775 -2.141486 -0.818987 -1.232198     True
B -0.018597  0.978104 -1.397059  0.519750  2.017604     True
C -0.381397 -1.232897  0.075042  0.681514  0.130131    False
D  0.278426  0.791482  0.220963 -0.752739 -0.713996     True
E -0.891373  0.277331 -0.401241 -1.377744 -2.478156    False

In [118]:
df.drop('yeni',axis=1)

          W         X         Y         Z  kontrol
A  0.955176  0.405775 -2.141486 -0.818987     True
B -0.018597  0.978104 -1.397059  0.519750     True
C -0.381397 -1.232897  0.075042  0.681514    False
D  0.278426  0.791482  0.220963 -0.752739     True
E -0.891373  0.277331 -0.401241 -1.377744    False

In [119]:
df

          W         X         Y         Z      yeni  kontrol
A  0.955176  0.405775 -2.141486 -0.818987 -1.232198     True
B -0.018597  0.978104 -1.397059  0.519750  2.017604     True
C -0.381397 -1.232897  0.075042  0.681514  0.130131    False
D  0.278426  0.791482  0.220963 -0.752739 -0.713996     True
E -0.891373  0.277331 -0.401241 -1.377744 -2.478156    False

In [120]:
df.drop('yeni',axis=1, inplace=True)

In [121]:
df

          W         X         Y         Z  kontrol
A  0.955176  0.405775 -2.141486 -0.818987     True
B -0.018597  0.978104 -1.397059  0.519750     True
C -0.381397 -1.232897  0.075042  0.681514    False
D  0.278426  0.791482  0.220963 -0.752739     True
E -0.891373  0.277331 -0.401241 -1.377744    False

In [122]:
df.drop('C',axis=0)

          W         X         Y         Z  kontrol
A  0.955176  0.405775 -2.141486 -0.818987     True
B -0.018597  0.978104 -1.397059  0.519750     True
D  0.278426  0.791482  0.220963 -0.752739     True
E -0.891373  0.277331 -0.401241 -1.377744    False

In [123]:
df

          W         X         Y         Z  kontrol
A  0.955176  0.405775 -2.141486 -0.818987     True
B -0.018597  0.978104 -1.397059  0.519750     True
C -0.381397 -1.232897  0.075042  0.681514    False
D  0.278426  0.791482  0.220963 -0.752739     True
E -0.891373  0.277331 -0.401241 -1.377744    False

In [124]:
df.drop('C',axis=0,inplace=True)

In [125]:
df

          W         X         Y         Z  kontrol
A  0.955176  0.405775 -2.141486 -0.818987     True
B -0.018597  0.978104 -1.397059  0.519750     True
D  0.278426  0.791482  0.220963 -0.752739     True
E -0.891373  0.277331 -0.401241 -1.377744    False

In [126]:
df.drop('kontrol',axis=1,inplace=True)

In [127]:
df

          W         X         Y         Z
A  0.955176  0.405775 -2.141486 -0.818987
B -0.018597  0.978104 -1.397059  0.519750
D  0.278426  0.791482  0.220963 -0.752739
E -0.891373  0.277331 -0.401241 -1.377744

In [128]:
df.loc['A']

W    0.955176
X    0.405775
Y   -2.141486
Z   -0.818987
Name: A, dtype: float64

In [129]:
df.iloc[0]

W    0.955176
X    0.405775
Y   -2.141486
Z   -0.818987
Name: A, dtype: float64

In [131]:
df.loc[['A','E']]

          W         X         Y         Z
A  0.955176  0.405775 -2.141486 -0.818987
E -0.891373  0.277331 -0.401241 -1.377744

In [135]:
df[df['W']>0]

          W         X         Y         Z
A  0.955176  0.405775 -2.141486 -0.818987
D  0.278426  0.791482  0.220963 -0.752739

In [137]:
df[(df['W']>0) & (df['Y']>0)]

          W         X         Y         Z
D  0.278426  0.791482  0.220963 -0.752739

In [138]:
df

          W         X         Y         Z
A  0.955176  0.405775 -2.141486 -0.818987
B -0.018597  0.978104 -1.397059  0.519750
D  0.278426  0.791482  0.220963 -0.752739
E -0.891373  0.277331 -0.401241 -1.377744

In [139]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.955176  0.405775 -2.141486 -0.818987
1     B -0.018597  0.978104 -1.397059  0.519750
2     D  0.278426  0.791482  0.220963 -0.752739
3     E -0.891373  0.277331 -0.401241 -1.377744

In [140]:
df

          W         X         Y         Z
A  0.955176  0.405775 -2.141486 -0.818987
B -0.018597  0.978104 -1.397059  0.519750
D  0.278426  0.791482  0.220963 -0.752739
E -0.891373  0.277331 -0.401241 -1.377744

In [141]:
df.reset_index(inplace=True)

In [142]:
df

  index         W         X         Y         Z
0     A  0.955176  0.405775 -2.141486 -0.818987
1     B -0.018597  0.978104 -1.397059  0.519750
2     D  0.278426  0.791482  0.220963 -0.752739
3     E -0.891373  0.277331 -0.401241 -1.377744

## Eksik veriler (missing data)

In [144]:
df = pd.DataFrame({'A':[1,2,np.nan],'B':[3,np.nan,np.nan],'C':[1,3,4]})

In [145]:
df

     A    B  C
0  1.0  3.0  1
1  2.0  NaN  3
2  NaN  NaN  4

In [146]:
df.dropna()

     A    B  C
0  1.0  3.0  1

In [148]:
df.dropna(axis=1)

   C
0  1
1  3
2  4

In [149]:
df.dropna(thresh=2)

     A    B  C
0  1.0  3.0  1
1  2.0  NaN  3

In [152]:
df.fillna(value=0)

     A    B  C
0  1.0  3.0  1
1  2.0  0.0  3
2  0.0  0.0  4

In [ ]:
df.fillna(value=df['A'].mean())

## Group by

In [155]:
data = {'Firma':['A','B','C','C'],'İsim':['Ali','Veli','Cem','Ayşe'],'Satış':[200,100,140,160]}

In [156]:
df = pd.DataFrame(data)

In [157]:
df

  Firma  İsim  Satış
0     A   Ali    200
1     B  Veli    100
2     C   Cem    140
3     C  Ayşe    160

In [159]:
df.groupby('Firma').mean()

       Satış
Firma
A        200
B        100
C        150

In [160]:
df.groupby('Firma').std()

           Satış
Firma
A            NaN
B            NaN
C      14.142136

In [162]:
df.groupby('Firma').count()['İsim']

Firma
A    1
B    1
C    2
Name: İsim, dtype: int64

## Dosyaların okunması

In [163]:
df = pd.read_csv("https://raw.githubusercontent.com/yasarkucukefe/YBS_405/main/data/AirPassengers.csv")

In [164]:
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121