In [1]:
import pandas as pd

In [2]:
emails = pd.read_csv('https://raw.githubusercontent.com/yasarkucukefe/YBS_405/main/data/spam_ham_dataset.csv')

In [3]:
emails.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\nth...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\n( see a...",0
2,3624,ham,"Subject: neon retreat\nho ho ho , we ' re arou...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\nthis deal is to ...,0

In [11]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import string

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [12]:
def metin_isle(mesaj):
    # noktalama işaretleri gitsin
    # stopwords gitsin
    kelimeler = [char for char in mesaj if char not in string.punctuation]
    kelimeler = ''.join(kelimeler)
    return [kelime for kelime in kelimeler.split() if kelime.lower() not in stopwords.words('english')]

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
bow_transormer = CountVectorizer(analyzer=metin_isle).fit(emails['text'])

In [15]:
# Eğitim - Test setlerinin ayrılması
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(emails['text'], emails['label'], test_size=0.2)

In [16]:
from sklearn.pipeline import Pipeline

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [21]:
pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=metin_isle)), # 1. adım, bag-of-word oluştur
    ('tfidf', TfidfTransformer()), # bag-of-words -> TF-IDF skorları
    ('classifier', MultinomialNB()), # train (eğitim)
])

In [22]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function metin_isle at 0x7fd6bbc8f8b0>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [23]:
tahminler = pipeline.predict(x_test)

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_test, tahminler))

              precision    recall  f1-score   support

         ham       0.89      1.00      0.94       749
        spam       0.99      0.69      0.82       286

    accuracy                           0.91      1035
   macro avg       0.94      0.85      0.88      1035
weighted avg       0.92      0.91      0.91      1035